<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Docker Firewall Manager</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card border-danger">
                    <div class="card-header bg-danger text-white">
                        <h4 class="mb-0">Error</h4>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-danger">
                            {{ error }}
                        </div>
                        <p>This application requires special privileges to manage iptables rules.</p>
                        <p>When running as a Docker container, please use these flags:</p>
                        <pre class="bg-light p-3">docker run --cap-add=NET_ADMIN --privileged --network=host -p 8000:8000 [image-name]</pre>
                        <p>Or with docker-compose:</p>
                        <pre class="bg-light p-3">
version: '3'
services:
  firewall-manager:
    # ...other settings
    cap_add:
      - NET_ADMIN
    privileged: true
    network_mode: host</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>